.deps
.libs

*.la
*.lo
*.o
*.so
*.a
*.dSYM
*~
*#

.dirstamp
.diff
.DS_Store

m4/

stamp-h?
configure
config.guess
config.sub
config.log
config.status
compile
config.h
config.h.in
libtool
ltmain.sh
missing
depcomp
install-sh
aclocal.m4
autom4te.cache

Makefile
Makefile.in

*/po/POTFILES
*/po/*.gmo

pxlib/pxlib.pc
pxlib/pxlib.spec
pxlib/include/pxversion.h
pxlib/include/paradox.h
pxlib/include/paradox-gsf.h

pxview/pxview.spec
pxview/src/pxview
